* {
    text-align: center;
    background-color: #dcdcdc;
    font-family: "Arial", sans-serif;
}

h1 {
    margin-top: 0;
}
table {
    border: 2px solid #723E9A;
    align-items: center;
    width: 650px;


}
.center {
   margin-left: auto;
   margin-right: auto;
}
h2 {
    color: #9932CC;
}

th {
    background-color: #DDA0DD;
    text-align: center;
}
.tag {
    background-color: #F5F5DC;
}

.left {
    float: left;
}
td{
    border-top: 1px solid #9932cc;X
}


.text, th, td {
    text-align: start;
}